*{
    margin:0;
    padding:0;

}
h1{
    color:red;
    font-family:italic;
}
span{
    color:white;
    font-weight: bold;
    background-color: red;

}
div{
    margin-top:10px;
}